apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: "#CABUNDLECONFIGMAP#"
  name: "#SVCNAME#"
  namespace: "#NAMESPACE#"
spec:
  ports:
  - name: https
    port: 443
    protocol: TCP
    targetPort: 5000
  selector:
    app: "#SVCNAME#"
  type: ClusterIP
