apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    name: "#SVCNAME#"
  name: "#SVCNAME#"
  namespace: "#NAMESPACE#"
spec:
  endpoints:
  - port: "https"
    scheme: "https"
    tlsConfig: 
      caFile: /etc/prometheus/configmaps/serving-certs-ca-bundle/service-ca.crt
      serverName: validation-webhook.openshift-validation-webhook.svc
  namespaceSelector: {}
  selector:
    matchLabels:
      name: "#SVCNAME#"
